<div>
    <label for="email_input_field">Email</label>
    <input type="email" id="email_input_field" name="email" value= <%= researcher.email %> >
    <br>
    <label for="password_input_field">Password</label>
    <input type="password" id="password_input_field" name="password" value= <%= researcher.password %> >
</div>