<header>
    <a href="/">Home</a>
    <nav>
        <ul>
            <li><a href="/researchers">Researchers</a></li>
            <li><a href="/researchers/new">Create researcher</a></li>
        </ul>
    </nav>
</header>