<header>
    <span onclick="openNav()">&#9776;</span>
    <div class="sidenav" id="sideNav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <% if(app.currentUser){ %>
            <a>Current user id: <%=app.currentUser.id%></a>
            <a href="/accessCloudAPI">Access Cloud</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/signUp">Sign up</a>
        <% } %>
    </div>
</header>

<!-- 
    NOT WORKING YET, SO WILL BE IMPLEMENTED IN THE FUTURE, INSIDE THE PUBLIC/SCRIPTS.JS FILE
    <script src="../../public/scripts.js"></script> 
-->
<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("sideNav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("sideNav").style.width = "0";
    }
</script>