<div class="container">
    <h2>Reset Password</h2>
    <form class="form"
        onkeyup="checkPasswordRequirements('password_input_field', 'confirm_password_input_field', 'submitInput', 'passwordCheck1', 'passwordCheck2', 'passwordCheck3', 'passwordCheck4')"
        action="/resetPassword" method="POST">
        <%- include('../partials/authentication/resetPasswordFormFields') %>
        <%- include('../partials/errorMessage.ejs') %>
            <input id="submitInput" type="submit" value="Reset password">
            <p id="passwordCheck1" style="color: red;">Passwords don't match</p>
            <p id="passwordCheck2" style="color: red;">One uppercase letter</p>
            <p id="passwordCheck3" style="color: red;">One number</p>
            <p id="passwordCheck4" style="color: red;">8 characters minimum</p>
    </form>
</div>