<div class="container">
    <h2>Sign Up</h2>
    <form class="form"
        onkeyup="checkPasswordRequirements('password_input_field', 'confirm_password_input_field', 'submitInput', 'passwordCheck1', 'passwordCheck2', 'passwordCheck3', 'passwordCheck4')"
        action="/signUp" method="POST">
        <%- include('../partials/authentication/signUpFormFields') %>
        <%- include('../partials/errorMessage.ejs') %>
            <input id="submitInput" type="submit" value="Sign up">
            <p id="passwordCheck1" style="color: red;">Passwords don't match</p>
            <p id="passwordCheck2" style="color: red;">One uppercase letter</p>
            <p id="passwordCheck3" style="color: red;">One number</p>
            <p id="passwordCheck4" style="color: red;">8 characters minimum</p>
            <p style="width: max-content;">
                Already have an account? <a href="/login">Login</a>
            </p>
    </form>
</div>