<h2>DJI Cloud API Integration</h2>
<p>
    This page is used to test the DJI Cloud API integration.
    The accessCoudAPI.html has to run on the webview interface of the remote control Pilot2.
    Once the connection is established, the remote controller will send osd data (including latitude, longitude,
    height...)
    to the MQTT server at a fixed frequency

    to run this page, open a terminal in the folder DJI and run the following command "python -m http.server"
    test on a device
    session saveUninitialized set to false
    
</p>
<br>
<p>
    <%= email %> 
</p>
<br>
<p> For develop this remains as a separate page, but it should run the code once login is made</p>

<script>
    window.onload = () => {
        // Extract the configData object from the server-side data
        const { APP_ID, APP_KEY, LICENSE, MQTT_ADDRESS, USER, PASSWORD } = JSON.stringify(configData);
        // Calls the functions to establish a connection to the cloud API
        platformVerifyLicense(APP_ID, APP_KEY, LICENSE);
        const register_params = registerParams(MQTT_ADDRESS, USER, PASSWORD);
        loadModule(register_params);
        establishConnection(USER, PASSWORD);
    }
</script>