<% if(!email){ %>
    <div class="container">
        <h1> DDVApp </h1>
        <br>
        <h4> Please choose one of the following: </h4>
        <br>
        <a href="/login" class="link-button">Login</a>
        <br>
        <a href="/signUp" class="link-button">Sign up</a>
    </div>
    <% } else { %>
        <h2> Welcome <%=email %>! </h2>
<% } %>