<label for="password_input_field">Password</label>
<input type="password" id="password_input_field" name="password" required>
<br>
<label for="confirm_password_input_field">Confirm Password</label>
<input type="password" id="confirm_password_input_field" name="confirmPassword" required>
<br>