<label for="email_input_field">Email</label>
<input type="email" id="email_input_field" name="email" required>
<br>

<label for="password_input_field">Password</label>
<input type="password" id="password_input_field" name="password" required onkeyup='checkPasswords();'>
<br>

<label for="confirm_password_input_field">Confirm Password</label>
<input type="password" id="confirm_password_input_field" name="confirmPassword" required onkeyup='checkPasswords();'>
<br>